.navbar-personal{
  height: 80px;
  line-height: 80px;
  }

p{
font-size: 20px;
}
.cont-padding{
  padding-bottom: 50px;
}
.btm-padding{
  padding-bottom: 20px;
}

[class*="col"]{
min-height: 10px;
}

.bg-color-green{
   background-color: #1ABC9C;
   color: white;
}

.bg-color-blue{
  background-color: #334A60;
  color: white;
}

.start-boot .img-responsive{
  width: 200px; ;
}
 .bg-color-darkblue{
   background-color: #2C3E50;
   color: white;
 }

 .star:before,
 .star:after {
   background-color: #000;
   content: "";
   display: inline-block;
   height: 3px;
   position: relative;
   width: 80px;
}
.fa-star{
  font-size: 30px;
  padding: 15px;
  vertical-align: middle;
}

.fa-download{
  padding-right: 15px;
}

.left{
  padding-left: 40px;
}

.right{
  padding-right: 40px;
}

.social{
  font-size: 15px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
  padding:15px;
}
.social-box{
  letter-spacing: 5px;
}
