.navbar-personal{
  height: 80px;
  line-height: 80px;
  }



[class*="col"]{
min-height: 10px;
}

.bg-color-green{
   background-color: #1ABC9C;
   color: white;
}

.bg-color-blue{
  background-color: #334A60;
  color: white;
}

.start-boot .img-responsive{
  width: 200px; ;
}
 .bg-color-darkblue{
   background-color: #2C3E50;
   color: white;
 }
